
.Main-menu {
  background-color: #E0DC16;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.Main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Main-menu li {
  margin-bottom: 10px;
}

.Main-menu a {
  color: #1696E0;
  text-decoration: none;
}

.Main-menu a:hover {
  color: #E10109;
}
