body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1696E0;
  font-family: 'Roboto Serif', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.topBar {
  display: flex;
  justify-content: space-between;
  background-color: #076094;
  align-items: center;
}

.trilhos > img {
  border: 2px solid red;
}

.VideoMenu {
  background-color: #940F13;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  border-left: 1px solid #ddd;
  /* animation-name: painelOpen;
  animation-duration: 7s;
  animation-fill-mode: forwards; */
}

.FaTimes {
  position: fixed;
}

.infosof {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.infosof >h1 {
  text-align: center;
  font-family: 'Roboto Serif', serif;
}

.infosof > img {
  border-radius: 10px;
  box-shadow: #E0DC16 5px 5px 10px 0px;
}

.VideoMenu > h1 {
  text-align: center;
}

.buttonOfVideoPanel {
  border: 4px solid white;
  background-color: #940F13;
  color: white;
  width: 350px;
  height: 40px;
  margin: 15px;
  border-radius: 7.50px;
  box-shadow: 0 0 5px #FFF, 0 0 15px #FFF, 0 0 30px #FFF;

}

.buttonOfVideoPanel > a{
  text-decoration: none;
  color: white;
}
.buttonOfVideoPanel:hover{
  animation-name: buttonOfPainel;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: white;
}

@keyframes buttonOfPainel {
  0% {
    /* border: 2px; */
    border-color: #4FABE0 #0B92E0 #4FABE0 #3A7EA6;
    box-shadow: 0 0 5px #4FABE0, 0 0 15px #4FABE0, 0 0 30px #4FABE0;  
    border: 4px transparent #4FABE0 #0B92E0 #4FABE0 #3A7EA6;
  }
  25% {
    border-color:  #0B92E0 #4FABE0 #3A7EA6 #4FABE0;
    box-shadow: 0 0 5px #0B92E0, 0 0 15px #0B92E0, 0 0 30px #0B92E0;  
    border: 4px transparent #0B92E0 #4FABE0 #3A7EA6 #4FABE0;
  }
  50% {
    border-color:   #4FABE0 #3A7EA6 #4FABE0 #0B92E0;
    box-shadow: 0 0 5px #4FABE0, 0 0 15px #4FABE0, 0 0 30px #4FABE0;  
    border: 4px transparent #4FABE0 #3A7EA6 #4FABE0 #0B92E0;
  }
  75% {
    border-color:   #3A7EA6 #4FABE0 #0B92E0 #4FABE0;
    box-shadow: 0 0 5px #3A7EA6, 0 0 15px #3A7EA6, 0 0 30px #3A7EA6;  
    border: 4px transparent   #3A7EA6 #4FABE0 #0B92E0 #4FABE0;
  }
  100% {
    border-color: #4FABE0 #0B92E0 #4FABE0 #3A7EA6;
    box-shadow: 0 0 5px #4FABE0, 0 0 15px #4FABE0, 0 0 30px #4FABE0;  
    border: 4px transparent #4FABE0 #0B92E0 #4FABE0 #3A7EA6;
  }
}

@keyframes painelOpen {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 500px;
  }
}