.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #fff;
}
.container__imagem{
    width: 60px;
    height: 60px;
    padding: 2em 1em;
}

.container__bloco{
    margin: 2em 3em;
}

.texto__container{
    font-weight: 500;
}