.Cadastro{
    background-color: #1B4669;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
}

.CadastroFormulario{
    margin: 1em;
}

.CadastroFormularioCabecalho{
    box-sizing: border-box;
    padding: 1em 0.5em;
    background: #FEFFD6;
    border-radius: 100px;
    color: #1B4669;
    margin: 2.5em 0.5em 2.5em 0.5em ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CadastroFormulario{
    font-size: 16px;
    font-weight: 700;
    font: bold;
    font-size: 16px;
}

.CheckboxTermos{
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.CheckboxTituloTermos{
    font-size: 16px;
    padding-left: 2em;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

.BotaoCadastro{
    text-decoration: none;
    box-sizing: border-box;
    height: 3em;
    background: #EDF418;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 422px;
    margin: 0 6em 0 6em; 
}

.TextoBotaoCadastro{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.labelnome{
    display: none;
}

.labeldata{
    display: none;
}

.labelemail{
    display: none;
}

.labelsenha{
    display: none;
}

.labelconfirmarsenha{
    display: none;
}
